openapi: 3.0.3
info:
  title: FeeldKit API
  version: "1"
  description: |
    Field normalization, translation, and catalog HTTP API. All routes require
    `x-api-key`. Admin routes additionally require an explicit scope on the key
    (see [`docs/SDK.md`](https://github.com/feeldkit/feeldkit/blob/main/docs/SDK.md))
    and, for curator endpoints, the calling profile must be `platform_admin`.
servers:
  - url: https://feeldkit.dev/api/v1
    description: Example production host
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  parameters:
    OrganizationIdHeader:
      in: header
      name: x-feeldkit-organization-id
      required: false
      schema: { type: string, format: uuid }
      description: Optional override; usually derived from the API key.
    FieldKeyPath:
      in: path
      name: fieldKey
      required: true
      schema: { type: string }
    PackKeyPath:
      in: path
      name: packKey
      required: true
      schema: { type: string }
    FlowKeyPath:
      in: path
      name: flowKey
      required: true
      schema: { type: string }
    VersionPath:
      in: path
      name: version
      required: true
      schema: { type: string }
    DomainPath:
      in: path
      name: domain
      required: true
      schema: { type: string }
    IdPath:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    Iso2Path:
      in: path
      name: iso2
      required: true
      schema: { type: string, minLength: 2, maxLength: 2 }
  schemas:
    NormalizeInput:
      type: object
      required: [field_key, value]
      properties:
        field_key: { type: string }
        value: { type: string }
        context: { type: object, additionalProperties: true }
        organization_id: { type: string, format: uuid }
    TranslateInput:
      type: object
      required: [from_field_key, to_field_key, value]
      properties:
        from_field_key: { type: string }
        to_field_key: { type: string }
        value: { type: string }
        context: { type: object, additionalProperties: true }
        organization_id: { type: string, format: uuid }
    FlowTranslateInput:
      type: object
      required: [flow_key, source_record]
      properties:
        flow_key: { type: string }
        version: { type: string }
        source_record: { type: object, additionalProperties: true }
        context: { type: object, additionalProperties: true }
        organization_id: { type: string, format: uuid }
    SimulationProfileV1:
      type: object
      required: [schema, flow_key, cases]
      properties:
        schema: { type: string, enum: ["feeldkit.simulation_profile.v1"] }
        flow_key: { type: string }
        version: { type: string }
        organization_id: { type: string, format: uuid }
        context: { type: object, additionalProperties: true }
        cases:
          type: array
          items:
            type: object
            required: [name, source_record]
            properties:
              name: { type: string }
              source_record: { type: object, additionalProperties: true }
              expected:
                type: object
                properties:
                  matched_targets: { type: array, items: { type: string } }
                  unmapped_targets: { type: array, items: { type: string } }
                  skipped_targets: { type: array, items: { type: string } }
                  status: { type: string, enum: [ok, incomplete, not_found] }
    OrgConfigProfileV1:
      type: object
      required: [schema, manifest, promotion_settings, policy_overrides, field_locks, flow_pack_overrides]
      properties:
        schema: { type: string, enum: ["feeldkit.org_config_profile.v1"] }
        manifest:
          type: object
          required: [exported_at, source_organization_id, schema_version]
          properties:
            exported_at: { type: string, format: date-time }
            source_organization_id: { type: string, format: uuid }
            feeldkit_app_version: { type: string, nullable: true }
            schema_version: { type: integer, enum: [1] }
        promotion_settings:
          type: object
          properties:
            default_scope: { type: string, enum: [org, global] }
            opt_out_global_propose: { type: boolean }
            notes: { type: string, nullable: true }
        policy_overrides:
          type: array
          items:
            type: object
            properties:
              domain: { type: string }
              matched: { type: number }
              suggested: { type: number }
              notes: { type: string, nullable: true }
        field_locks:
          type: array
          items:
            type: object
            properties:
              field_key: { type: string }
              mode: { type: string, enum: [require_review, disable_auto_apply] }
              reason: { type: string, nullable: true }
        flow_pack_overrides:
          type: array
          items:
            type: object
            properties:
              flow_key: { type: string }
              flow_pack_version: { type: string, nullable: true }
              ordinal: { type: integer, nullable: true }
              action: { type: string, enum: [skip, replace, lock, pin_version] }
              payload: { type: object, additionalProperties: true }
              notes: { type: string, nullable: true }
    Error:
      type: object
      properties:
        error: { type: string }
        details: { type: object, additionalProperties: true }
security:
  - ApiKeyAuth: []
paths:
  /normalize:
    post:
      summary: Normalize a single value (scope normalize)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NormalizeInput' }
      responses:
        "200": { description: Normalization result }
        "400": { description: Invalid payload }
        "401": { description: Missing or invalid API key }
        "429": { description: Rate limited }
  /normalize/batch:
    post:
      summary: Normalize many values (scope normalize)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items]
              properties:
                items:
                  type: array
                  items: { $ref: '#/components/schemas/NormalizeInput' }
      responses:
        "200": { description: Batch results }
  /translate:
    post:
      summary: Cross-field translate (scope normalize)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TranslateInput' }
      responses:
        "200": { description: Translate candidates with explain.v1 }
  /translate/batch:
    post:
      summary: Cross-field translate (batch, scope normalize)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items]
              properties:
                items:
                  type: array
                  items: { $ref: '#/components/schemas/TranslateInput' }
      responses:
        "200": { description: Batch translate results }
  /flow/translate:
    post:
      summary: Run a deterministic flow pack against a single source record (scope normalize)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FlowTranslateInput' }
      responses:
        "200": { description: Flow output with per-field explain.v1 }
        "404": { description: Flow not found }
  /flow/translate/batch:
    post:
      summary: Run a flow pack against many source records (scope normalize)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items]
              properties:
                items:
                  type: array
                  items: { $ref: '#/components/schemas/FlowTranslateInput' }
      responses:
        "200": { description: Batch flow outputs }
  /flow/simulate:
    post:
      summary: Phase 6 — dry-run flow simulation (scope normalize + read:flows)
      description: |
        Same engine as `/flow/translate` but never persists `mapping_reviews`
        rows. Useful for pre-deployment validation against a `simulation_profile.v1`.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SimulationProfileV1' }
      responses:
        "200": { description: Per-case simulation report }
        "400": { description: Invalid simulation profile }
        "404": { description: Flow not found }
  /flows:
    get:
      summary: List flow packs (scope read:flows)
      responses: { "200": { description: List of flows } }
  /flows/{flowKey}:
    get:
      summary: Get a flow pack with active version metadata (scope read:flows)
      parameters: [{ $ref: '#/components/parameters/FlowKeyPath' }]
      responses: { "200": { description: Flow pack }, "404": { description: Not found } }
  /flows/{flowKey}/versions/{version}:
    get:
      summary: Inspect a specific flow version (scope read:flows)
      parameters:
        - { $ref: '#/components/parameters/FlowKeyPath' }
        - { $ref: '#/components/parameters/VersionPath' }
      responses: { "200": { description: Flow version detail }, "404": { description: Not found } }
  /validate:
    post:
      summary: Validate a value (scope validate)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [field_key, value]
              properties:
                field_key: { type: string }
                value: { type: string }
                context: { type: object, additionalProperties: true }
      responses: { "200": { description: Validation outcome } }
  /parse:
    post:
      summary: Parse a value (scope parse)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [field_key, value]
              properties:
                field_key: { type: string }
                value: { type: string }
                context: { type: object, additionalProperties: true }
      responses: { "200": { description: Parse result } }
  /suggest:
    post:
      summary: Suggest normalization (scope normalize)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NormalizeInput' }
      responses: { "200": { description: Suggestion } }
  /crosswalk:
    get:
      summary: Crosswalk between field types (scope read:fields)
      parameters:
        - { in: query, name: from, schema: { type: string }, required: true }
        - { in: query, name: to, schema: { type: string }, required: true }
        - { in: query, name: code, schema: { type: string }, required: true }
      responses: { "200": { description: Crosswalk match } }
  /packs:
    get:
      summary: List field packs (scope read:packs)
      responses: { "200": { description: Pack list } }
  /packs/{packKey}:
    get:
      summary: Get a field pack with active version (scope read:packs)
      parameters: [{ $ref: '#/components/parameters/PackKeyPath' }]
      responses: { "200": { description: Pack detail } }
  /field-types:
    get:
      summary: List field types (scope read:fields)
      responses: { "200": { description: Field types } }
  /fields/{fieldKey}/search:
    get:
      summary: Search values for a field type (scope read:fields)
      parameters:
        - { $ref: '#/components/parameters/FieldKeyPath' }
        - { in: query, name: q, required: true, schema: { type: string } }
      responses: { "200": { description: Search hits } }
  /fields/{fieldKey}/values:
    get:
      summary: List values for a field type (scope read:fields)
      parameters: [{ $ref: '#/components/parameters/FieldKeyPath' }]
      responses: { "200": { description: Values } }
  /geo/countries:
    get:
      summary: List countries (scope read:fields)
      responses: { "200": { description: Country list } }
  /geo/countries/{iso2}:
    get:
      summary: Get country bundle (scope read:fields)
      parameters: [{ $ref: '#/components/parameters/Iso2Path' }]
      responses: { "200": { description: Country bundle } }
  /geo/subdivisions:
    get:
      summary: List subdivisions of a country (scope read:fields)
      parameters: [{ in: query, name: country, required: true, schema: { type: string } }]
      responses: { "200": { description: Subdivision list } }
  /geo/timezones:
    get:
      summary: List timezones (scope read:fields)
      responses: { "200": { description: Timezone list } }
  /standards/currencies:
    get:
      summary: List currencies (scope read:fields)
      responses: { "200": { description: Currency list } }
  /standards/languages:
    get:
      summary: List languages (scope read:fields)
      responses: { "200": { description: Language list } }
  /company/employee-bands:
    get:
      summary: List company employee size bands (scope read:fields)
      responses: { "200": { description: Bands } }
  /company/revenue-bands:
    get:
      summary: List company revenue bands (scope read:fields)
      responses: { "200": { description: Bands } }
  /company/funding-stages:
    get:
      summary: List company funding stages (scope read:fields)
      responses: { "200": { description: Stages } }
  /jobs/normalize-title:
    get:
      summary: Normalize a job title (scope normalize)
      parameters: [{ in: query, name: q, required: true, schema: { type: string } }]
      responses: { "200": { description: Normalized title } }
  /email/classify:
    get:
      summary: Classify an email address (scope normalize)
      parameters: [{ in: query, name: value, required: true, schema: { type: string } }]
      responses: { "200": { description: Classification } }
  /tech/normalize:
    get:
      summary: Normalize a tech / tool name (scope normalize)
      parameters: [{ in: query, name: q, required: true, schema: { type: string } }]
      responses: { "200": { description: Normalized tech } }
  /web/parse-domain:
    get:
      summary: Parse a domain or URL (scope parse)
      parameters: [{ in: query, name: value, required: true, schema: { type: string } }]
      responses: { "200": { description: Parsed domain } }
  /web/validate-social-url:
    get:
      summary: Validate a social URL (scope validate)
      parameters: [{ in: query, name: value, required: true, schema: { type: string } }]
      responses: { "200": { description: Validation outcome } }
  /industry/search:
    get:
      summary: Search industry concepts (scope read:fields)
      parameters: [{ in: query, name: q, required: true, schema: { type: string } }]
      responses: { "200": { description: Hits } }
  /intent/topics:
    get:
      summary: List intent topics (scope read:fields)
      responses: { "200": { description: Topic list } }
  /events/types:
    get:
      summary: List event types (scope read:fields)
      responses: { "200": { description: Event types } }
  /ai/field-definitions:
    get:
      summary: List AI field definitions (scope read:fields)
      responses: { "200": { description: Definitions } }
  /ai/context:
    get:
      summary: Snapshot AI assistant context (scope read:fields)
      responses: { "200": { description: Context payload } }
  /ai/packs/{packKey}/schema:
    get:
      summary: Get AI schema for a pack (scope read:packs)
      parameters: [{ $ref: '#/components/parameters/PackKeyPath' }]
      responses: { "200": { description: Schema } }
  /promoted-intelligence/versions:
    get:
      summary: List promoted-intelligence versions (scope read:promoted-intelligence)
      parameters:
        - { in: query, name: limit, required: false, schema: { type: integer } }
        - { in: query, name: offset, required: false, schema: { type: integer } }
      responses: { "200": { description: Version list } }
  /promoted-intelligence/versions/{version}:
    get:
      summary: Inspect a promoted-intelligence version with entries (scope read:promoted-intelligence)
      parameters: [{ $ref: '#/components/parameters/VersionPath' }]
      responses: { "200": { description: Version detail } }
  /admin/reviews/{id}/undo:
    post:
      summary: Undo a previously approved review (scope admin:reviews)
      parameters: [{ $ref: '#/components/parameters/IdPath' }]
      responses: { "200": { description: Undo result } }
  /admin/governance/policy:
    get:
      summary: Get all org policy overrides + field locks (scope admin:policies)
      responses: { "200": { description: Policy state } }
    put:
      summary: Upsert a policy override (scope admin:policies)
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, required: [domain, matched, suggested], properties: { domain: { type: string }, matched: { type: number }, suggested: { type: number }, notes: { type: string } } } } }
      responses: { "200": { description: ok } }
  /admin/governance/policy/{domain}:
    put:
      summary: Upsert policy override for a specific domain (scope admin:policies)
      parameters: [{ $ref: '#/components/parameters/DomainPath' }]
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, required: [matched, suggested], properties: { matched: { type: number }, suggested: { type: number }, notes: { type: string } } } } }
      responses: { "200": { description: ok } }
  /admin/governance/field-locks:
    put:
      summary: Upsert an org field lock (scope admin:policies)
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, required: [field_key, mode], properties: { field_key: { type: string }, mode: { type: string, enum: [require_review, disable_auto_apply] }, reason: { type: string } } } } }
      responses: { "200": { description: ok } }
  /admin/governance/flow-overrides:
    get:
      summary: List flow pack overrides (scope admin:policies)
      parameters: [{ in: query, name: flow_key, required: false, schema: { type: string } }]
      responses: { "200": { description: Overrides } }
    put:
      summary: Create a flow pack override (scope admin:flows)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [flow_key, action]
              properties:
                flow_key: { type: string }
                ordinal: { type: integer, nullable: true }
                action: { type: string, enum: [skip, replace, lock, pin_version] }
                flow_pack_version_id: { type: string, format: uuid, nullable: true }
                payload: { type: object, additionalProperties: true }
      responses: { "200": { description: ok } }
  /admin/governance/promotion-settings:
    get:
      summary: Get org promotion settings (scope admin:policies)
      responses: { "200": { description: Settings } }
    put:
      summary: Upsert org promotion settings (scope admin:policies)
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, required: [default_scope, opt_out_global_propose], properties: { default_scope: { type: string, enum: [org, global] }, opt_out_global_propose: { type: boolean }, notes: { type: string } } } } }
      responses: { "200": { description: ok } }
  /admin/flows/{flowKey}/versions/{version}/retire:
    post:
      summary: Retire a flow version (scope admin:flows)
      parameters:
        - { $ref: '#/components/parameters/FlowKeyPath' }
        - { $ref: '#/components/parameters/VersionPath' }
      responses: { "200": { description: ok } }
  /admin/flows/{flowKey}/rollback:
    post:
      summary: Rollback a flow to a prior version (scope admin:flows)
      parameters: [{ $ref: '#/components/parameters/FlowKeyPath' }]
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, required: [to_version], properties: { to_version: { type: string }, notes: { type: string } } } } }
      responses: { "200": { description: ok } }
  /admin/promotions:
    get:
      summary: List promotion proposals (scope admin:promotions)
      parameters:
        - { in: query, name: status, required: false, schema: { type: array, items: { type: string } }, style: form, explode: true }
        - { in: query, name: target_table, required: false, schema: { type: string } }
        - { in: query, name: limit, required: false, schema: { type: integer } }
      responses: { "200": { description: Proposal list } }
  /admin/promotions/{id}/approve:
    post:
      summary: Curator approval of a pending_global proposal (scope admin:promotions, role platform_admin)
      parameters: [{ $ref: '#/components/parameters/IdPath' }]
      responses: { "200": { description: Approved } }
  /admin/promotions/{id}/reject:
    post:
      summary: Curator rejection of a pending_global proposal (scope admin:promotions, role platform_admin)
      parameters: [{ $ref: '#/components/parameters/IdPath' }]
      responses: { "200": { description: Rejected } }
  /admin/proposals/{id}/undo:
    post:
      summary: Undo an AI enrichment proposal decision (scope admin:promotions)
      parameters: [{ $ref: '#/components/parameters/IdPath' }]
      responses: { "200": { description: Undo result } }
  /admin/enrichment/propose:
    post:
      summary: Generate a single AI enrichment proposal (scope admin:fields)
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, additionalProperties: true } } }
      responses: { "200": { description: Proposal } }
  /admin/enrichment/propose/batch:
    post:
      summary: Generate AI enrichment proposals in batch (scope admin:fields)
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, additionalProperties: true } } }
      responses: { "200": { description: Proposals } }
  /admin/enrichment/jobs/process:
    post:
      summary: Drain queued enrichment jobs (scope admin:fields)
      responses: { "200": { description: Processed jobs report } }
  /admin/industry/resolve:
    post:
      summary: Resolve an industry concept by code (scope admin:fields)
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, additionalProperties: true } } }
      responses: { "200": { description: Resolution } }
  /admin/industry/translate:
    post:
      summary: Translate an industry code to another system (scope admin:fields)
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, additionalProperties: true } } }
      responses: { "200": { description: Translation } }
  /admin/audit:
    get:
      summary: List audit log entries (scope admin:policies)
      parameters:
        - { in: query, name: limit, required: false, schema: { type: integer } }
        - { in: query, name: entity_type, required: false, schema: { type: string } }
        - { in: query, name: action, required: false, schema: { type: string } }
      responses: { "200": { description: Audit rows } }
  /admin/profile/export:
    get:
      summary: Phase 6 — export the calling org's full governance profile (scope admin:policies + admin:flows + admin:promotions)
      responses:
        "200":
          description: org_config_profile.v1 bundle
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile: { $ref: '#/components/schemas/OrgConfigProfileV1' }
  /admin/profile/import:
    post:
      summary: Phase 6 — apply an org_config_profile.v1 bundle to the calling org (scope admin:policies + admin:flows + admin:promotions)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [profile]
              properties:
                profile: { $ref: '#/components/schemas/OrgConfigProfileV1' }
                dry_run: { type: boolean, default: false }
      responses: { "200": { description: Apply result } }
